[submodule "vim-surround"]
	path = vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
    ignore = dirty
[submodule "vim-commentary"]
	path = vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
    ignore = dirty
[submodule "vim-rooter"]
	path = vim/pack/bundle/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
    ignore = dirty
[submodule "vim-just"]
	path = vim/pack/bundle/start/vim-just
	url = https://github.com/NoahTheDuke/vim-just.git
    ignore = dirty
[submodule "python-syntax"]
	path = vim/pack/bundle/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
    ignore = dirty
[submodule "rust.vim"]
	path = vim/pack/bundle/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
    ignore = dirty
[submodule "vim-fugitive"]
	path = vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "gv.vim"]
	path = vim/pack/bundle/start/gv.vim
	url = https://github.com/junegunn/gv.vim.git
    ignore = dirty
[submodule "nvim-compe"]
	path = vim/pack/bundle/opt/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe.git
    ignore = dirty
[submodule "vim-indent-object"]
	path = vim/pack/bundle/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
    ignore = dirty
[submodule "ultisnips"]
	path = vim/pack/bundle/opt/ultisnips
	url = https://github.com/sirver/ultisnips.git
    ignore = dirty
[submodule "nvim-lspconfig"]
	path = vim/pack/bundle/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
    ignore = dirty
[submodule "nvim-colorizer.lua"]
	path = vim/pack/bundle/opt/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua.git
    ignore = dirty
[submodule "nvim-autopairs"]
	path = vim/pack/bundle/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
    ignore = dirty
[submodule "plenary.nvim"]
	path = vim/pack/bundle/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "fzf.vim"]
	path = vim/pack/bundle/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
    ignore =dirty
[submodule "fzf"]
	path = vim/pack/bundle/opt/fzf
	url = https://github.com/junegunn/fzf.git
    ignore =dirty
[submodule "lightline"]
	path = vim/pack/bundle/opt/lightline
	url = https://github.com/itchyny/lightline.vim
    ignore =dirty
[submodule "null-ls.nvim"]
	path = vim/pack/bundle/opt/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
	branch = main
[submodule "nvim-tree"]
	path = vim/pack/bundle/opt/nvim-tree
	url = https://github.com/kyazdani42/nvim-tree.lua
[submodule "nvim-cmp"]
	path = vim/pack/bundle/opt/nvim-cmp
	url = https://github.com/hrsh7th/nvim-cmp
	branch = main
[submodule "cmp-nvim-lsp"]
	path = vim/pack/bundle/opt/cmp-nvim-lsp
	url = https://github.com/hrsh7th/cmp-nvim-lsp
	branch = main
[submodule "cmp-path"]
	path = vim/pack/bundle/opt/cmp-path
	url = https://github.com/hrsh7th/cmp-path
	branch = main
[submodule "cmp-buffer"]
	path = vim/pack/bundle/opt/cmp-buffer
	url = https://github.com/hrsh7th/cmp-buffer
	branch = main
[submodule "cmp-nvim-ultisnips"]
	path = vim/pack/bundle/opt/cmp-nvim-ultisnips
	url = https://github.com/quangnguyen30192/cmp-nvim-ultisnips
	branch = main
[submodule "cmp-nvim-lua"]
	path = vim/pack/bundle/opt/cmp-nvim-lua
	url = https://github.com/hrsh7th/cmp-nvim-lua
	branch = main
[submodule "gitsigns.nvim"]
	path = vim/pack/bundle/opt/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
	branch = main
