[submodule "vim-surround"]
	path = vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
    ignore = dirty
[submodule "vim-commentary"]
	path = vim/pack/bundle/start/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
    ignore = dirty
[submodule "vim-signify"]
	path = vim/pack/bundle/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
    ignore = dirty
[submodule "vim-rooter"]
	path = vim/pack/bundle/start/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
    ignore = dirty
[submodule "vim-just"]
	path = vim/pack/bundle/start/vim-just
	url = https://github.com/NoahTheDuke/vim-just.git
    ignore = dirty
[submodule "python-syntax"]
	path = vim/pack/bundle/start/python-syntax
	url = https://github.com/vim-python/python-syntax.git
    ignore = dirty
[submodule "rust.vim"]
	path = vim/pack/bundle/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
    ignore = dirty
[submodule "vim-fugitive"]
	path = vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
    ignore = dirty
[submodule "gv.vim"]
	path = vim/pack/bundle/start/gv.vim
	url = https://github.com/junegunn/gv.vim.git
    ignore = dirty
[submodule "nvim-compe"]
	path = vim/pack/bundle/opt/nvim-compe
	url = https://github.com/hrsh7th/nvim-compe.git
    ignore = dirty
[submodule "vim-indent-object"]
	path = vim/pack/bundle/start/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
    ignore = dirty
[submodule "ultisnips"]
	path = vim/pack/bundle/opt/ultisnips
	url = https://github.com/sirver/ultisnips.git
    ignore = dirty
[submodule "nvim-lspconfig"]
	path = vim/pack/bundle/opt/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
    ignore = dirty
[submodule "nvim-colorizer.lua"]
	path = vim/pack/bundle/opt/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua.git
    ignore = dirty
[submodule "nvim-autopairs"]
	path = vim/pack/bundle/opt/nvim-autopairs
	url = https://github.com/windwp/nvim-autopairs.git
    ignore = dirty
[submodule "plenary.nvim"]
	path = vim/pack/bundle/opt/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "null-ls.nvim"]
	path = vim/pack/bundle/opt/null-ls.nvim
	url = https://github.com/jose-elias-alvarez/null-ls.nvim.git
[submodule "fzf.vim"]
	path = vim/pack/bundle/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "fzf"]
	path = vim/pack/bundle/opt/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "lightline"]
	path = vim/pack/bundle/opt/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim/pack/bundle/opt/null-ls.nvim"]
	branch = main
